nav.navbar{
      background-color:   hsl(180, 8%, 52%);
      background-image: url('../assets/bg-header-mobile.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height:15vh;
}

@media(min-width:540px){
   nav.navbar{
      background-color:   hsl(180, 8%, 52%);
       background-image: url('../assets/bg-header-desktop.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height:15vh;
      display: block;
   }
}
